
*.info

*.md

Components/xamandroidsupportv4-18-19.1.0/component/Manifest.xml

Components/xamandroidsupportv4-18-19.1.0/lib/android/Xamarin.Android.Support.v4.dll

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample.sln

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/AndroidSupportSample.csproj

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Assets/AboutAssets.txt

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/DetailsActivity.cs

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/DetailsFragment.cs

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/MainActivity.cs

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Properties/AndroidManifest.xml

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Properties/AssemblyInfo.cs

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/AboutResources.txt

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/Layout-Large/activity_main.axml

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/layout/activity_main.axml

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/Resource.designer.cs

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/values/Strings.xml

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Shakespeare.cs

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/TitlesFragment.cs

*.pp

*.dll

*.nupkg

*.mdb

*.cache

*.pdb

*.stamp

*.dex

*.class

*.jar

*.java

V.FlyoutTest.Droid/obj/Debug/resolved_assemblies.txt

V.FlyoutTest.Droid/obj/Debug/res/values/strings.xml

V.FlyoutTest.Droid/obj/Debug/res/values/mvxbindingattributes.xml

V.FlyoutTest.Droid/obj/Debug/res/menu/refresh.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/splashscreen.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/loginview.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/item_menu.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/homeview.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/firstview.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/entertimeview.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/createnewjobview.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/addhoursentryview.xml

V.FlyoutTest.Droid/obj/Debug/R.cs.flag

V.FlyoutTest.Droid/obj/Debug/V.FlyoutTest.Droid.csproj.FileListAbsolute.txt

V.FlyoutTest.Droid/obj/Debug/V.FlyoutTest.Droid.csproj.FileListAbsolute.txt

*.cache

*.cache

*.apk

V.FlyoutTest.Droid/bin/Debug/V.FlyoutTest.Droid-Signed.apk

V.FlyoutTest.Droid/bin/Debug/V.FlyoutTest.Droid.apk

V.FlyoutTest.Droid/obj/Debug/android/bin/resources_and_assemblies

*.apk

V.FlyoutTest.Droid/obj/Debug/android/bin/V.FlyoutTest.Droid.apk

Components/xamandroidsupportv4-18-20.0.0/component/Manifest.xml

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample.sln

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/AndroidSupportSample.csproj

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/Assets/AboutAssets.txt

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/DetailsActivity.cs

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/DetailsFragment.cs

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/MainActivity.cs

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/Properties/AndroidManifest.xml

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/Properties/AssemblyInfo.cs

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/AboutResources.txt

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/Layout-Large/activity_main.axml

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/layout/activity_main.axml

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/Resource.designer.cs

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/values/Strings.xml

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/Shakespeare.cs

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/TitlesFragment.cs

packages/WPtoolkit.4.2013.08.16/content/README_FIRST.txt

V.FlyoutTest.Core/bin/Debug/V.FlyoutTest.Core.dll.mdb

V.FlyoutTest.Droid/obj/Debug/acw-map.txt

V.FlyoutTest.Core/obj/Debug/V.FlyoutTest.Core.csproj.FileListAbsolute.txt

V.FlyoutTest.Droid/obj/Debug/android/AndroidManifest.xml

V.FlyoutTest.Droid/obj/Debug/android/bin/packaged_resources

V.FlyoutTest.iOS/bin/iPhoneSimulator/Debug/FlyoutNavigation.xml

V.FlyoutTest.iOS/bin/iPhoneSimulator/Debug/IosTemplate.exe

V.FlyoutTest.iOS/bin/iPhoneSimulator/Debug/IosTemplate.exe.config

V.FlyoutTest.iOS/bin/iPhoneSimulator/Debug/IosTemplate.exe.mdb

V.FlyoutTest.iOS/obj/iPhone/Debug/V.FlyoutTest.iOS.csprojResolveAssemblyReference.cache

V.FlyoutTest.iOS/obj/iPhoneSimulator/Debug/build_package.zip

V.FlyoutTest.iOS/obj/iPhoneSimulator/Debug/build_package/.build.manifest

V.FlyoutTest.iOS/obj/iPhoneSimulator/Debug/build_package/assemblies/FlyoutNavigation.xml

V.FlyoutTest.iOS/obj/iPhoneSimulator/Debug/build_package/assemblies/IosTemplate.exe

V.FlyoutTest.iOS/obj/iPhoneSimulator/Debug/build_package/bundle/IosTemplate.app/Info.plist

V.FlyoutTest.iOS/obj/iPhoneSimulator/Debug/DesignTimeResolveAssemblyReferencesInput.cache

V.FlyoutTest.iOS/obj/iPhoneSimulator/Debug/IosTemplate.exe

V.FlyoutTest.iOS/obj/iPhoneSimulator/Debug/V.FlyoutTest.iOS.csproj.FileListAbsolute.txt

V.FlyoutTest.WindowsPhone/Bin/x86/Debug/AppManifest.xaml

V.FlyoutTest.WindowsPhone/Bin/x86/Debug/Properties/WMAppManifest.xml

V.FlyoutTest.WindowsPhone/Bin/x86/Debug/V.FlyoutTest.WindowsPhone._Debug_x86.xap

V.FlyoutTest.WindowsPhone/obj/Debug/App.g.i.cs

V.FlyoutTest.WindowsPhone/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

V.FlyoutTest.WindowsPhone/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

V.FlyoutTest.WindowsPhone/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

V.FlyoutTest.WindowsPhone/obj/Debug/Views/AddHoursEntryView.g.i.cs

V.FlyoutTest.WindowsPhone/obj/Debug/Views/CreateNewJobView.g.i.cs

V.FlyoutTest.WindowsPhone/obj/Debug/Views/EnterTimeView.g.i.cs

V.FlyoutTest.WindowsPhone/obj/Debug/Views/FirstView.g.i.cs

V.FlyoutTest.WindowsPhone/obj/Debug/Views/HomeView.g.i.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/App.g.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/App.g.i.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/V.FlyoutTest.WindowsPhone.g.resources

V.FlyoutTest.WindowsPhone/obj/x86/Debug/V.FlyoutTest.WindowsPhone.csproj.FileListAbsolute.txt

V.FlyoutTest.WindowsPhone/obj/x86/Debug/Views/AddHoursEntryView.g.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/Views/AddHoursEntryView.g.i.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/Views/CreateNewJobView.g.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/Views/CreateNewJobView.g.i.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/Views/EnterTimeView - Copy.g.i.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/Views/EnterTimeView.g.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/Views/EnterTimeView.g.i.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/Views/FirstView - Copy.g.i.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/Views/FirstView.g.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/Views/FirstView.g.i.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/Views/HomeView.g.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/Views/HomeView.g.i.cs

V.FlyoutTest.WindowsPhone/obj/x86/Debug/XapCacheFile.xml

Components/xamandroidsupportv4-18-20.0.0.png

Components/xamandroidsupportv4-18-20.0.0/component/icons/xamandroidsupportv4-18_512x512.png

Components/xamandroidsupportv4-18-20.0.0/component/icons/xamandroidsupportv4-18_128x128.png

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/drawable-hdpi/icon.png

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/drawable-ldpi/icon.png

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/drawable-mdpi/icon.png

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/drawable-xhdpi/icon.png

Components/xamandroidsupportv4-18-20.0.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/drawable-xxhdpi/icon.png

V.FlyoutTest.Droid/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

V.FlyoutTest.Droid/obj/Debug/res/drawable/drawer_shadow_dark.9.png

V.FlyoutTest.Droid/obj/Debug/res/drawable/drawer_shadow_light.9.png

V.FlyoutTest.Droid/obj/Debug/res/drawable/ic_drawer_dark.png

V.FlyoutTest.Droid/obj/Debug/res/drawable/ic_drawer_light.png

V.FlyoutTest.Droid/obj/Debug/res/drawable/ic_menu_refresh.png

V.FlyoutTest.Droid/obj/Debug/res/drawable/icon.png

V.FlyoutTest.iOS/obj/iPhone/Debug/DesignTimeResolveAssemblyReferencesInput.cache
