
*.info

*.png

*.md

Components/xamandroidsupportv4-18-19.1.0/component/Manifest.xml

Components/xamandroidsupportv4-18-19.1.0/lib/android/Xamarin.Android.Support.v4.dll

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample.sln

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/AndroidSupportSample.csproj

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Assets/AboutAssets.txt

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/DetailsActivity.cs

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/DetailsFragment.cs

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/MainActivity.cs

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Properties/AndroidManifest.xml

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Properties/AssemblyInfo.cs

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/AboutResources.txt

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/Layout-Large/activity_main.axml

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/layout/activity_main.axml

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/Resource.designer.cs

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Resources/values/Strings.xml

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/Shakespeare.cs

Components/xamandroidsupportv4-18-19.1.0/samples/AndroidSupportSample/AndroidSupportSample/TitlesFragment.cs

*.pp

*.dll

*.nupkg

*.mdb

*.cache

*.pdb

*.stamp

*.dex

*.class

*.jar

*.java

V.FlyoutTest.Droid/obj/Debug/resolved_assemblies.txt

V.FlyoutTest.Droid/obj/Debug/res/values/strings.xml

V.FlyoutTest.Droid/obj/Debug/res/values/mvxbindingattributes.xml

V.FlyoutTest.Droid/obj/Debug/res/menu/refresh.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/splashscreen.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/loginview.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/item_menu.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/homeview.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/firstview.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/entertimeview.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/createnewjobview.xml

V.FlyoutTest.Droid/obj/Debug/res/layout/addhoursentryview.xml

V.FlyoutTest.Droid/obj/Debug/R.cs.flag

V.FlyoutTest.Droid/obj/Debug/V.FlyoutTest.Droid.csproj.FileListAbsolute.txt

V.FlyoutTest.Droid/obj/Debug/V.FlyoutTest.Droid.csproj.FileListAbsolute.txt

*.cache

*.cache
